# Name: Sunita Inderjit
## Session: CS 672 Fall 2023 72385 
## CRN : 72385

**Question#1**

**Points:10**

Write a brief description of all the following Object Types. To write the answers in below cell by double clicking on it.

- Numbers: Can be various type such as integer. float, complex number
- Strings: Sequence of character enclosed within single or double quotes, string are immutable
- Lists: Ordered colection of time can be number, string and enclosed in square braclet,and mutable
- Tuples: similar to string but enclosed on () and immutable
- Dictionaries: are unordered collection of key -value pair enclosed in curly braclet. Key must be unique, dictionary are mutable.

**Question#2**

**Points:5**

**Numbers**

In [5]:
# example of numbers

print(100+234)
print(2.345 * 20)

334
46.900000000000006

In [6]:
#Answer these 3 questions type code to check your answer. In the below code cell.

    #What is the value of the expression 4 * (6 + 5)
    
    #What is the value of the expression 4 * 6 + 5 
    
    #What is the value of the expression 4 + 6 * 5 
    
# Answer

print(4*(6+5))
print(4*6+5)
print(4+6*5)

44
29
34

**Question#3**

**Points:10**

**Strings**

In [9]:
s = 'Python Programming'
# Print out 'm' using indexing

s[13]

'm'

In [10]:
s ='Python Programming'
# Reverse the string using slicing

s[-1]

'g'

In [ ]:
s ='Python Programming'
# Print out the 'i'

# Method 1:

Given the string "Python Programming", give two methods of producing the letter 'i' using indexing.

In [12]:
s ='Python Programming'
# Print out the 'i'

# Method 1:

s[15]

'i'

In [14]:
# Method 2
s[-3]

'i'

**Question#4**

**Points:10**

**Lists**

Build this list [0,0,0] two separate ways.

In [17]:

# method 1
my_list1 = [0, 0, 0]

#method 2

my_list2 = [0] * 3

print(my_list1)
print(my_list2)

[0, 0, 0]
[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [6]:
list3 = [1,2,[3,4,'hello']]

list3[2][2]='goodbye'

print(list3)

[1, 2, [3, 4, 'goodbye']]

In [ ]:
Sort the list below:

In [11]:
list4 = [5,3,4,6,1]

list4.sort()

list4

[1, 3, 4, 5, 6]

**Questions # 5
**Dictionary

### Using keys and indexing, grab the 'Python' from the following dictionaries:

In [15]:
d = {'simple_key':'Python'}
# Grab 'Python'

d['simple_key']

'Python'

In [21]:
d = {'k1':{'k2':'Programming'}}
# Grab 'Programming'

d['k1']['k2'].lower()

'programming'

In [22]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is CS632',['Python']]}]}

#Grab Python
d['k1'][0]['nest_key'][1][0]

'Python'

In [24]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

### Is sorting a dictionary possible? Why or why not?

- yes , sorting a dictionary is possible

- python 3.7 an later; Dictionary is ordered collections, meaning they maintain the order
- you can sort dictionary base on key or values

- python 3.6 and earlier
- dictionary was unordered collectiones, does not maintain order of item and could not be sorted directly
- however, you need to use sorted to sort key or values  and create new order collection.

**Question#6**

**Points: 5**

**Tuples**

What is the major difference between tuples and lists?
#### Tuples: imutable
### List is mutable

**how to create a tuple

**example of tuple

In [25]:
# example of tuples

my_tuple =(1,'hello',3,4, True)

my_tuple

(1, 'hello', 3, 4, True)

**Question#7**

**Points:5**

**Sets**

**What is unique about a set?
- An unordered collection data type taht is iterable and mutable, has no duplicate elements

- no Duplicate elements
- unordered collection
- mutable
- set operation

In [ ]:
# Use a set to find the unique values of the list below:

In [29]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

**Questions#8**

**Points:5**

**Booleans**

[link text](https://)What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [33]:
# What the outcome?
2 > 3

False

**Question#9**

**Points:10**

**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [37]:
# use for, split() and if to create a statement that will print out words that start with "s"

st = 'Print only the words that start with s in this sentence'


# split string into words

words = st.split()
    
# iterate through the words
for word in words:
    
    #check if hte  words start with 's'
    if word[0].lower() == 's':
        print(word)

start
s
sentence

**Question#10**

**Points:10**

**Use range() to print all the even numbers from 0 to 10.**

In [44]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

**Question#11**

**Points: 10**

**Check the length of each word in the string and if the length of a word is even print "even!"**

In [45]:
st = 'Print every word in this sentence that has an even number of letters'

#split the string into words

words = st.split()
for word in words:
    if len(word)% 2 == 0:
        print(f"{word}:even!")

word:even!
in:even!
this:even!
sentence:even!
that:even!
an:even!
even:even!
number:even!
of:even!

**Question#12** 

**Points : 10**

**Write a program that prints the integers from 1 to 100. But for multiples of three print "3*" instead of the number, and for the multiples of five print "5*". For numbers which are multiples of both three and five print "3* 5*".**

In [46]:
# Iterate through numbers 1 to 100
for num in range(1, 101):
    # Check for multiples of both 3 and 5
    if num % 3 == 0 and num % 5 == 0:
        print("3* 5*")
    # Check for multiples of 3
    elif num % 3 == 0:
        print("3*")
    # Check for multiples of 5
    elif num % 5 == 0:
        print("5*")
    # If not a multiple of 3 or 5, print the number
    else:
        print(num)

1
2
3*
4
5*
3*
7
8
3*
5*
11
3*
13
14
3* 5*
16
17
3*
19
5*
3*
22
23
3*
5*
26
3*
28
29
3* 5*
31
32
3*
34
5*
3*
37
38
3*
5*
41
3*
43
44
3* 5*
46
47
3*
49
5*
3*
52
53
3*
5*
56
3*
58
59
3* 5*
61
62
3*
64
5*
3*
67
68
3*
5*
71
3*
73
74
3* 5*
76
77
3*
79
5*
3*
82
83
3*
5*
86
3*
88
89
3* 5*
91
92
3*
94
5*
3*
97
98
3*
5*